@import url('https://fonts.googleapis.com/css?family=Raleway:300,400,700,900&display=swap');

* {
	box-sizing: border-box;
	transition: all ease-in-out 250ms;
}


body {
	margin: 0;
	font-family: 'Raleway', Sans-serif;
	text-align: center;
}

img{
	max-width: 100%;
	height: auto;
	}

.container{
	width: 95%;
	height: auto;
}

.clearfix::after,
section::after,
footer::after {
	content: '';
	display: block;
	clear: both;

}

.hidden{
	display: none;
}


/******************************typography******************************/

.content{
	float:left;
	text-align:center;
	width:70%;
	padding:10px;	
}



.face{
	float: right;
	width: 25%;
	height: 70%;
	padding-right: 30px;

}

.f-links{
	margin: 0;
	padding: 0;
	list-style-type: none;
}

.content-photo{
	width:100%;
	padding:10em;	
}

.content-contact{
	float:right;
	width:100%;
	padding:10em;	
}

.content-design{
	width:100%;
	padding:10em;
}

@media (min-width: 55rem){
	.content{
		font-size: 1.5rem;
		float: left;
	}

}

/******************************header******************************/

header {
	position: absolute;
	left: 0;
	right: 0;
	margin: 1em;
}


nav ul{
	margin: 0;
	padding: 0;
	list-style: none;
}

nav li{
	display: inline-block;
	margin: 1em;
}

nav a{
	font-weight: 900;
	text-decoration: none;
	text-transform: uppercase;
	font-size: : 1em;
	padding: .5em;
	color: white;
}

header .highlight, header .current a{
	color: cyan;
}

nav a:hover,
nav a:focus {
	color: magenta;

}

@media (min-width: 15rem){
	.logo{
		float: left;
		width: 25%;
		height: 70%;
		padding-right: 30px;
	}

	nav{
		float: right;
	}
}

/******************************hero-home******************************/

.home-hero{
	background-image: url(../images/background.jpg);
	background-size: cover;
	background-position: center;
	padding: 10em 0;
	color: #fff;
}

@media (min-width: 60rem){
	.home-hero{
	height:100vh;
	padding-top:35vh;
				}
}


/******************************Programs******************************/

.program{
	margin: 0;
}

.program-item{
	margin: 0;
	position: relative;
}

.program-item1{
	margin: 0;
	position: relative;
}

.program-item2{
	margin: 0;
	position: relative;
}

.program-item img{
	display: block;
	height: 500px;

}

.program-item1 img{
	display: block;
	height: 500px;
	width: 100%;

}

.program-item2 img{
	display: block;
	height: 500px;

}

.program-desc{
	position: absolute;
	z-index: 100;
	bottom: 0em;
	left: 3em;
	right: 3em;
	color: white;
	background: rgba(0,0,0,.6);
	padding: 2em;
}

.program-desc p {
	margin: 1em;
}

@media(min-width: 40rem){
	.program-item{
		width: 25%;
		float: left;
		overflow: hidden;}

	.program-item2{
		width: 33%;
		float: left;
		overflow: hidden;}
	}

	.program-desc {
		transform: translateY(150%);
	}

	.program-item:hover .program-desc {
		transform: translateY(0%);
	}


	.part-1{
	margin: 0;
	position: relative;
}

	.part-1 img{
	display: block;
	float: left;
	height: 700px;
	width: 50%;

}

.part-2{
	margin: 0;
	position: relative;
}

	.part-2 img{
	display: block;
	float: right;
	height: 700px;
	width:  50%;

}

/******************************Contact******************************/


.con1 h1 h3{
	margin: auto;
	position: relative;
	padding-top: 70px;

}

.con1 h1{
	font-size: 60px;
	text-align: left;
}

.con1 h3{
	font-size: 20px;
	text-align: left;
}

.con1 h1 h3{
	display: block;
	float: left;
	height: 900px;
	width: 30%;
}

.con2{
	margin: auto;
	position: relative;
}

.con2{
	display: block;
	float: right;
	height: 600px;
	width:  50%;
	padding-top: 0;

}
form
{
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
}


input[type=text], select {
	float: right;
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
	margin-left:10%;
    display: inline-block;
    border: 1px solid #000;
    border-radius: 4px;
}
input[type=email], select {
	float: right;
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
	margin-left:10%;
    display: inline-block;
    border: 1px solid #000;
    border-radius: 4px;
}
textarea {
	float: right;
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
	margin-left:10%;
    display: inline-block;
    border: 1px solid #000;
    border-radius: 4px;
}

input[type=submit] {
	float: right;
    width: 100%;
    background-color: #000;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
	margin-left:25%;
    border: 1px solid #000;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: magenta;
}



/******************************footer******************************/

footer{
	background:#232323;
	color: #fff;
	text-align: left;
}

.f-links nav ul{
	margin: 0;
	padding: 0;
	list-style: none;
}

.f-links nav li{
	margin: 3em;
}

.f-links nav a{
	display: block;
	font-weight: 900;
	text-decoration: none;
	text-transform: uppercase;
	font-size: : 1em;
	padding: 0.5em;
	color: white;
}

.f-links nav a:hover,
.f-links nav a:focus {
	transform: scale(1.2);
	color: #ddd;

}



.col-2{
	margin: auto;
	justify-content: space-around;
	display: flex;
	max-width: 100%;
	align-items: center;
	margin-left: 40px;

}
.col-2 a{
	text-decoration: none;
	font-size: 28px;
	color:#fff;
	text-align: center;
	transition: 0.4s all;
	line-height: 30px;
	cursor: pointer;
	padding: .2em;
}

.col-2 a:hover{
	transform: scale(1.2);
}

.col-2 p{
	float: right;}


.col-3 p{
	float: right;

}

@media(min-width: 60rem){
	.col-1{
		display: block;
		width: 10%;
		float: left;
		margin-left: 30px;
		margin-bottom: 30px;
	}

	.col-2{
		display: flex;
		width: 40%;
		float: left;
}
.col-3{
		display: inline-flex;
		width: 33%;
		float: right;
}
